.rhap_container{
  background-color: #00000196;
  border-radius: 20px;
  padding: 0 !important;
  box-shadow: none !important; 
  width: fit-content !important;
}

.rhap_controls-section{
    margin: 0 !important;
  }

.rhap_additional-controls{
  flex: none !important;
}

.rhap_main-controls-button, 
.rhap_volume-button, 
.rhap_volume-bar-area{
  color: #00000196 !important;
}

.chakra-night-rhap-control{
  color: #868686 !important;
}

.rhap_volume-indicator{
 background-color: #00000196 !important;
}

.chakra-night-indicator{
  background-color: #868686 !important;
}

@media only screen and (max-width: 768px) {
.rhap_volume-controls{
    display: none !important;
  }

}
@media only screen and (min-width: 768px) {
  .rhap_container{
    min-width: 220px;
  }
}